    div#app {
        margin-bottom: 15px;
    }
    aside#left-sidebar {
    top: 35px;
    }
    main thead td {
        font-weight: bold;
        text-align: center;
    }
    main tbody td {
        text-align: center;
    }
    .button_ref {
        font-size: x-large;
    }
    .button_ref i{
        margin: 0 15px 0 0px
    }
    .form-group button {
        margin-top: 23px;
        margin-right: 0px;
        font-size: 20px;
    }
    .form-group a {
        margin-top: 23px;
        margin-right: 10px;
        font-size: 20px;
    }